body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------- Top Banner Start ---------------------- */
.banner-title{
    font-size: 55px;
    color: #ffffff;
    font-weight: 600;
}

.banner-summery{
    margin-bottom: 45px;
    margin-top: -25px;
    color: #f9f9f9;
}

.banner-button{
    text-decoration: none;
    background-color: #ff5959;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
}

.banner-text{
    text-align: center;
}

.top-banner{
    background-image: url(./img/banner-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 150px 0;
}
/* ---------------------- Top Banner End ---------------------- */

section{
    margin-bottom: 110px;
}

/* ---------------------- Daonate Today Start ---------------------- */
.today-title{
    font-size: 45px;
    color: #121212;
}

.today-summery{
    font-size: 17px;
    color: #828282;
    margin-top: -27px;
    margin-bottom: 60px;
}

.today-text{
    text-align: center;
}

.amount-item{
    font-size: 28px;
    font-weight: 600;
    color: #747474;
    padding: 40px 25px;
    background-color: #fafafa;
    border-radius: 5px;
}

.default-amount{
    width: 12%;
    margin-top: 25px;
}

.amount-box{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.red-box{
    background-color: #ffeeee;
    border: 3px solid #ff9393;
}

.donate-form{
    width: 57%;
    border-bottom: 1px solid #828282;
    padding: 10px 20px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.donate-amount{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.donate-text{
    border: none;
    outline: none;
    color: #828282;
    font-size: 18px;
    text-align: center;
}

.donate-button{
    text-decoration: none;
    background-color: #ff5959;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
}
/* ---------------------- Daonate Today Start ---------------------- */

/* ---------------------- Our Donate Plan Start ---------------------- */
.plan-title{
    font-size: 45px;
    color: #121212;
}

.plan-summery{
    font-size: 17px;
    color: #828282;
    margin-top: -27px;
    margin-bottom: 60px;
}

.plan-text{
    text-align: center;
}

.plan-data{
    width: 22%;
    padding: 35px 25px;
    background-color: #828282;
    border-radius: 5px;
    margin: 8px;
}

.plan-box{
    display: flex;
    justify-content: center;
}

.plan-data-img{
    padding-top: 22px;
}

.blue-box{
    background-color: #edf5f6;
}

.redish-box{
    background-color: #ffeeee;
}

.yellow-box{
    background-color: #fff4d6;
}
/* ---------------------- Our Donate Plan Start ---------------------- */

/* ---------------------- Latest News Start ---------------------- */
.latest-title{
    font-size: 45px;
    color: #121212;
}

.latest-summery{
    font-size: 17px;
    color: #828282;
    margin-top: -27px;
    margin-bottom: 40px;
}

.latest-text{
    text-align: center;
}

.news-box{
    width: 25%;
    margin: 15px;
}

.news-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
}

.news-title{
    font-size: 20px;
}

.news-division{
    color: #ff5959;
    font-size: 14px;
}

.news-area{
    display: flex;
    justify-content: center;
}
/* ---------------------- Latest News End ---------------------- */

hr{
    color: #828282;
    width: 70%;
}

/* ---------------------- Get Updates Start ---------------------- */
.updates-title{
    font-size: 45px;
    color: #121212;
    margin-top: 70px;
}

.updates-summery{
    font-size: 17px;
    color: #828282;
    margin-top: -27px;
    margin-bottom: 40px;
}

.updates-text{
    text-align: center;
}

.subscribe-area{
    width: 45%;
    margin: 0 auto;
    background-color: #fff4d6;
    padding: 70px;
}

.subscribe-bar{
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #dddada;
    margin: 0 auto;
}

.subscribe-email{
    border: none;
    outline: none;
    background: transparent;
    color: #828282;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
}

.subscribe-button{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px 50px;
    color: #ffffff;
    font-size: 17px;
    border: none;
    outline: none;
    margin-left: 55px;

}
/* ---------------------- Get Updates End ---------------------- */

/* ---------------------- Footer Start ---------------------- */
.footer-area{
    background-color: #0b0d17;
    width: 100%;
    height: 100%;
    text-align: center;
}

.footer-title{
    font-size: 30px;
    color: #ff5959;
    padding-top: 45px;
}

.footer-slogan{
    font-size: 14px;
    color: #edf5f6;
    margin-top: -10px;
    padding-bottom: 50px;
}
/* ---------------------- Footer End ---------------------- */

